.page-header {
  text-align: center;
}

.gallery {
  padding: 50px;
}

.grid-tile {
  border: 3px solid #dddddd;
  text-align: center;
}

.grid-tile-rect-container {
  margin-top: 20px;
  line-height: 260px;
}
